body{background-color: rgb(34, 34, 34);}




header h1{ 
    color:rgb(252, 240, 76);
    font-family: Arial;
    margin: 0px 0px 0px 700px;
}
header img{
    width: 20%;
    margin: 0px 0px 0px 700px;
}

